<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cart - GPU Online Store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    .jumbotron {
      margin-bottom: 0;
    }
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>GPU Online Store</h1>      
    <p>High Performance Graphics Cards for Gaming and Workstations</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Deals</a></li>
        <li><a href="#">Stores</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
        <li class="active"><a href="{{ url_for('cart') }}"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    {% if cart %}
    <div class="col-sm-12">
      <form method="post" action="{{ url_for('update_cart') }}">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Product</th>
              <th>Description</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for product in cart %}
            <tr>
              <td>{{ product.name }}</td>
              <td>{{ product.description }}</td>
              <td>${{ product.price }}</td>
              <td><input type="number" name="quantity_{{ product.id }}" value="{{ product.quantity }}" min="1" class="form-control" style="width: 80px;"></td>
              <td>${{ product.price * product.quantity }}</td>
              <td>
                <a href="{{ url_for('remove_from_cart', product_id=product.id) }}" class="btn btn-danger">Remove</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Update Cart</button>
        <a href="{{ url_for('checkout') }}" class="btn btn-success">Checkout</a>
      </form>
    </div>
    {% else %}
    <div class="col-sm-12">
      <p>Your cart is empty.</p>
    </div>
    {% endif %}
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <p>GPU Online Store &copy; 2024</p>  
  <form class="form-inline" method="post" action="{{ url_for('subscribe') }}">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address" name="email">
    <button type="submit" class="btn btn-danger">Sign Up</button>
  </form>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</footer>

</body>
</html>
